body{
    background: lightpink;
    font-family: 'Special Elite', cursive;;
}

.header_div {
    background: white;
    color: tomato;
}

.header_div p {
    font-family: 'Roboto', sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bolder;
}

.main_div button {
    font-family: 'Roboto', sans-serif;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-top: 30px;
}

.footer {
    text-align: center;
    position: fixed;
    color: rgb(102, 97, 97);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background: white;
    line-height: 3;
    text-shadow: 5px 5px 5px gray;
}